{% if magentotools_install_ioncube_php7 %}
zend_extension = /usr/local/bin/ioncube/ioncube_loader_lin_x86-64_7.0b7.so
{% endif %}
{% if magentotools_install_ioncube_php5 %}
zend_extension = /usr/local/bin/ioncube/ioncube_loader_lin_{{ magentotools_install_ioncube_php_version }}.so
{% endif %}
